# Root
.DS_Store
Thumbs.db
*.log

# Frontend
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/dist/
/frontend/.turbo/
/frontend/.cache/

# Backend
/backend/build/
/backend/.gradle/
/backend/out/
/backend/target/
/backend/lib/

# Env files
.env
.env.*

# DB 데이터 디렉토리 (로컬 볼륨)
/data/

# 업로드 파일
/backend/upload/
